# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# QT Creator project files
*.pro.user
/dist/
/build/

# NetBeans files
/nbproject/
moc_*
ui_*
.dep.inc

PoweroneDataConverter.pro.user.3.0-pre1
